<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://www.bytedreamer.com">Bytedreamer</a>
        </div>
    </div>
</nav>